/target
csv-exporter/target/
report-generator/target/
.idea
src/main/resources/data.extractor.properties
src/main/resources/report.generator.properties
src/main/etc/output/*
src/test/etc/output/*
bin/
*.iml
!.mvn/wrapper/maven-wrapper.jar

