# Database connection properties
db.core.user=blah
db.core.password=blah
db.core.url=jdbc:mysql://localhost:3306/data_extracts

db.compass.user=blah
db.compass.password=blah
db.compass.url=jdbc:mysql://localhost:3306/data_extracts

db.sub.user=blah
db.sub.password=blah
db.sub.url=jdbc:mysql://localhost:3306/data_extracts

db.pcr.user=blah
db.pcr.password=blah
db.pcr.url=jdbc:mysql://localhost:3306/data_extracts

report.yaml.directory=/home/hal/dev/data_extracts/
report.yaml.file=reports.known.yaml
csv.staging.directory=/home/hal/dev/data_extracts/staging

slack.url=https://hooks.slack.com/services/blah/blah/blah
slack.switched.on=false
