# Database connection properties

url=jdbc:mysql://localhost:3306/data_extracts
user=root
password=1qaz1qaz

#Database table properties
tablename=test
orderBy=a
outputFilepath=d:\\temp\\output\\
dbTableName=test
csvFilename=bob.csv

# CSV Output properties

noOfRowsInEachOutputFile=1
noOfRowsInEachDatabaseFetch=10000

